.password-recovery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.background-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.shape {
  position: absolute;
  background-color: #0080ff;
  opacity: 0.1;
}

.shape-1 {
  top: -50px;
  right: -50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.shape-2 {
  top: 100px;
  right: -100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.shape-3 {
  bottom: -80px;
  left: -80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.shape-4 {
  bottom: 100px;
  left: -50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.illustration-and-form {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 80%;
  max-width: 1100px;
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}

.illustration-image {
  max-width: 150%;
  height: auto;
}

.form-container {
  flex: 1;
  padding: 60px;
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.input-container.has-value label,
.input-container input:focus + label {
  top: 0;
  font-size: 12px;
  color: #8aaee0; /* Color intermedio para el label al enfocar */
  background: transparent;
  padding: 0 5px;
}

button {
  padding: 15px;
  background-color: #0080ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0066cc;
}

.back-to-login {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #0080ff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .illustration-and-form {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 10px;
  }

  .form-container {
    padding: 20px 20px;
  }
}
