/* Estilo para la pestaña de "Retorno" */
.retorno-tab {
  background-color: #fff; /* Fondo blanco para la pestaña */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  display: inline-block; /* Para que no ocupe todo el espacio horizontal */
}

/* Estilo del título "Retorno" */
.movih1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

/* Contenedor de la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
}

/* Estilo del input de búsqueda */
.search-bar {
  padding: 10px 20px;
  border-radius: 20px; /* Borde redondeado */
  border: 1px solid #ccc; /* Borde gris claro */
  width: 300px; /* Ancho de la barra de búsqueda */
  margin-right: 10px; /* Espaciado entre el input y el botón */
}

/* Estilo del botón de búsqueda */
.search-button {
  background-color: #f1f1f1; /* Fondo gris claro */
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Borde redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ccc; /* Cambia el color al pasar sobre el botón */
}

.pestaña {
  padding-left: 0;
}
